= form_for @group_member, url: group_group_members_path(@group), html: { class: 'form-horizontal users-group-form' } do |f|
  .form-group
    = f.label :user_ids, "人", class: 'control-label'
    .col-sm-10
      = users_select_tag(:user_ids, multiple: true, class: 'input-large', scope: :all, email_user: true)
      .help-block
        搜索已存在的用户或者使用他们的电子邮箱地址邀请。

  .form-group
    = f.label :access_level, "群组访问", class: 'control-label'
    .col-sm-10
      = select_tag :access_level, options_for_select(GroupMember.access_level_roles, @group_member.access_level), class: "project-access-select select2"
      .help-block
        了解更多角色权限相关请点击
        %strong= link_to "这里", help_page_path("permissions", "permissions"), class: "vlink"

  .form-actions
    = f.submit '增加用户到群组', class: "btn btn-create"
