%li{class: "todo todo-#{todo.done? ? 'done' : 'pending'}", id: dom_id(todo) }
  .todo-item.todo-block
    = image_tag avatar_icon(todo.author_email, 40), class: 'avatar s40', alt:''

    .todo-title
      %span.author-name
        - if todo.author
          = link_to_author(todo)
        - else
          (removed)
      %span.todo-label
        = todo_action_name(todo)
        = todo_target_link(todo)

      &middot; #{time_ago_with_tooltip(todo.created_at)}

    - if todo.pending?
      .todo-actions.pull-right
        = link_to [:dashboard, todo], method: :delete, class: 'btn btn-loading done-todo' do
          完成
          = icon('spinner spin')

    .todo-body
      .todo-note
        .md
          = event_note(todo.body, project: todo.project)
