- group_member = local_assigns[:group_member]
- css_class = '' unless local_assigns[:css_class]
- css_class += " no-description" if group.description.blank?

%li.group-row{ class: css_class }
  - if group_member
    .controls.hidden-xs
      - if can?(current_user, :admin_group, group)
        = link_to edit_group_path(group), class: "btn-sm btn btn-grouped" do
          %i.fa.fa-cogs

      = link_to leave_group_group_members_path(group), data: { confirm: leave_group_message(group.name) }, method: :delete, class: "btn-sm btn btn-grouped", title: '离开此群组' do
        %i.fa.fa-sign-out

  .stats
    %span
      = icon('bookmark')
      = number_with_delimiter(group.projects.count)

    %span
      = icon('users')
      = number_with_delimiter(group.users.count)

    %span.visibility-icon.has_tooltip{data: { container: 'body', placement: 'left' }, title: visibility_icon_description(group)}
      = visibility_level_icon(group.visibility_level, fw: false)

  = image_tag group_icon(group), class: "avatar s40 hidden-xs"
  = link_to group, class: 'group-name title' do
    = group.name

  - if group_member
    身份：
    %span #{group_member.human_access}

  - if group.description.present?
    .description
      = markdown(group.description, pipeline: :description)
