/**
 * Well styled list
 *
 */
.well-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    padding: 10px 15px;
    min-height: 20px;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    &.disabled {
      color: #888;
    }

    &.unstyled {
      &:hover {
        background: none;
      }
    }

    &.warning-row {
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b;
    }

    &.smoke { background-color: $background-color; }

    &:hover {
      background: $row-hover;
    }

    &:last-child {
      border-bottom: none;

      &.bottom {
        background: $background-color;
      }
    }

    .list-item-name {
      float: left;
      position: relative;
      top: 3px;
    }

    p {
      padding-top: 1px;
      margin: 0;
      color: $gray-dark;
      img {
        position: relative;
        top: 3px;
      }
    }

    .well-title {
      font-size: $list-font-size;
      line-height: 18px;
    }
  }
}


/** light list with border-bottom between li **/
ul.bordered-list, ul.unstyled-list {
  @include basic-list;

  &.top-list {
    li:first-child {
      padding-top: 0;

      h4, h5 {
        margin-top: 0;
      }
    }
  }
}

ul.unstyled-list > li {
  border-bottom: none;
}

ul.task-list {
  li.task-list-item {
    list-style-type: none;
  }

  ul:not(.task-list) {
    padding-left: 1.3em;
  }
}

ul.content-list {
  @include basic-list;

  margin: 0;
  padding: 0;

  > li {
    border-color: $table-border-color;
    color: $list-text-color;
    font-size: $list-font-size;

    .title {
      color: $list-title-color;
      font-weight: 600;
    }

    .description {
      p {
        @include str-truncated;
        margin-bottom: 0;
      }
    }

    .avatar {
      margin-right: 15px;
    }

    .controls {
      padding-top: 1px;
      float: right;

      .btn {
        padding: 10px 14px;
      }
    }
  }
}

.panel > .content-list > li {
  padding: $gl-padding-top $gl-padding;
}

ul.controls {
  padding-top: 1px;
  float: right;
  list-style: none;

  .btn {
    padding: 10px 14px;
  }

  > li {
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .author_link {
      display: inline-block;

      .avatar-inline {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
