- page_title "电子邮箱"
- header_title page_title, profile_emails_path

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      管理您的账号连接的电子邮箱
  .col-lg-9
    %h4.prepend-top-0
      增加电子邮箱地址
    = form_for 'email', url: profile_emails_path do |f|
      .form-group
        = f.label :email, '电子邮箱', class: 'label-light'
        = f.text_field :email, class: 'form-control'
      .prepend-top-default
        = f.submit '增加电子邮箱地址', class: 'btn btn-create'
    %hr
    %h4.prepend-top-0
      连接的电子邮箱 (#{@emails.count + 1})
    .account-well.append-bottom-default
      %ul
        %li
          你的主要电子邮箱将用于头像显示和在网站操作，比如：编辑和合并操作。
        %li
          你的通知电子邮箱将用于账号通知。
        %li
          你的公开电子邮箱将显示在公开的个人资料上。
        %li
          所有电子邮箱地址都将用于识别提交作者。
    %ul.well-list
      %li
        = @primary
        %span.pull-right
          %span.label.label-success 主要电子邮箱
          - if @primary === current_user.public_email
            %span.label.label-info 公开电子邮箱
          - if @primary === current_user.notification_email
            %span.label.label-info 通知电子邮箱
      - @emails.each do |email|
        %li
          = email.email
          %span.pull-right
            - if email.email === current_user.public_email
              %span.label.label-info 公开电子邮箱
            - if email.email === current_user.notification_email
              %span.label.label-info 通知电子邮箱
          = link_to '删除', profile_email_path(email), data: { confirm: '确定要继续么？'}, method: :delete, class: 'btn btn-sm btn-remove pull-right'
