.note-edit-form
  = form_for note, url: namespace_project_note_path(@project.namespace, @project, note), method: :put, remote: true, authenticity_token: true, html: { class: 'edit-note js-quick-submit' } do |f|
    = note_target_fields(note)
    = render layout: 'projects/md_preview', locals: { preview_class: 'md-preview' } do
      = render 'projects/zen', f: f, attr: :note, classes: 'note_text js-note-text js-task-list-field'
      = render 'projects/notes/hints'

    .note-form-actions.clearfix
      = f.submit '保存评论', class: 'btn btn-nr btn-save btn-grouped js-comment-button'
      = link_to  '取消', '#', class: 'btn btn-nr btn-cancel note-edit-cancel'
