- page_title "部署密钥"

%h3.page-title
  使用部署密钥只读访问存储库

  = link_to new_namespace_project_deploy_key_path(@project.namespace, @project), class: "btn btn-new pull-right", title: "新部署密钥" do
    %i.fa.fa-plus
    新部署密钥

%p.light
  部署密钥用于 CI 集成、预发布和产品服务器获取版本仓库的代码。
  请创建一个新的或增加已存在的 SSH 密钥

%hr.clearfix

.row
  .col-md-6.enabled-keys
    %h5
      本项目
      %strong.cgreen 已启用的部署密钥
    %ul.bordered-list
      = render @enabled_keys
      - if @enabled_keys.blank?
        .light-well
          .nothing-here-block 创建#{link_to '新部署密钥', new_namespace_project_deploy_key_path(@project.namespace, @project)}或增加已存在的
  .col-md-6.available-keys
    - # If there are available public deploy keys but no available project deploy keys, only public deploy keys are shown.
    - if @available_project_keys.any? || @available_public_keys.blank?
      %h5
        可用的
        %strong 部署密钥
      %ul.bordered-list
        = render @available_project_keys
        - if @available_project_keys.blank?
          .light-well
            .nothing-here-block 本项目可用的部署密钥

    - if @available_public_keys.any?
      %h5
        全部项目可用的
        %strong 公开部署密钥
      %ul.bordered-list
        = render @available_public_keys
