= form_for [@project.namespace.becomes(Namespace), @project, @page], method: @page.persisted? ? :put : :post, html: { class: 'form-horizontal wiki-form gfm-form prepend-top-default js-quick-submit' } do |f|
  -if @page.errors.any?
    #error_explanation
      .alert.alert-danger
        - @page.errors.full_messages.each do |msg|
          %p= msg

  = f.hidden_field :title, value: @page.title
  .form-group
    = f.label :format, '格式', class: 'control-label'
    .col-sm-10
      = f.select :format, options_for_select(ProjectWiki::MARKUPS, {selected: @page.format}), {}, class: "form-control"

  .form-group
    = f.label :content, '内容', class: 'control-label'
    .col-sm-10
      = render layout: 'projects/md_preview', locals: { preview_class: "md-preview" } do
        = render 'projects/zen', f: f, attr: :content, classes: 'description form-control'
        = render 'projects/notes/hints'

      .clearfix
      .error-alert

      .help-block
        链接到（新）页面只需要输入
        %code [链接标题](page-slug)
        \.
  .form-group
    = f.label :commit_message, '提交信息', class: 'control-label'
    .col-sm-10= f.text_field :message, class: 'form-control', rows: 18

  .form-actions
    - if @page && @page.persisted?
      = f.submit '保存修改', class: "btn-save btn"
      = link_to "取消", namespace_project_wiki_path(@project.namespace, @project, @page), class: "btn btn-cancel"
    - else
      = f.submit '创建页面', class: "btn-create btn"
      = link_to "取消", namespace_project_wiki_path(@project.namespace, @project, :home), class: "btn btn-cancel"
