- page_title "群组"
%h3.page_title 分享项目给其他群组
%p.light
  项目只在一个群组内保存。但可以在这里分享项目到其他群组。
%hr
- if @group_links.present?
  .enabled-groups.panel.panel-default
    .panel-heading
      已分享给
    %ul.well-list
      - @group_links.each do |group_link|
        - group = group_link.group
        %li
          .pull-right
            = link_to namespace_project_group_link_path(@project.namespace, @project, group_link), method: :delete, class: 'btn btn-sm' do
              %i.icon-remove
              禁止分享
          = link_to group do
            %strong
              %i.icon-folder-open
              = group.name
          %br
          .light 权限：#{group_link.human_access}


.available-groups
  %h4
    可以分享给
  %div
    = form_tag namespace_project_group_links_path(@project.namespace, @project), method: :post, class: 'form-horizontal' do
      .form-group
        = label_tag :link_group_id, '群组', class: 'control-label'
        .col-sm-10
          = groups_select_tag(:link_group_id, skip_group: @project.group.try(:path))
      .form-group
        = label_tag :link_group_access, '最大访问等级', class: 'control-label'
        .col-sm-10
          = select_tag :link_group_access, options_for_select(ProjectGroupLink.access_options, ProjectGroupLink.default_access), class: "form-control"
      .form-actions
        = submit_tag "分享", class: "btn btn-create"

