- page_title "通知"
- header_title page_title, profile_notifications_path

= form_for @user, url: profile_notifications_path, method: :put, html: { class: 'update-notifications prepend-top-default' } do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :notification_type, 'global'
  .row
    .col-lg-3.profile-settings-sidebar
      %h4
        = page_title
      %p
        你也可以单独指定每个群组或项目的通知等级。
      %p
        所有项目和群组默认使用全局通知设置。
    .col-lg-9
      %h5
        全局通知设置
      .form-group
        = f.label :notification_email, '通知电子邮箱', class: "label-light"
        = f.select :notification_email, @user.all_emails, { include_blank: false }, class: "select2"
      .form-group
        = f.label :notification_level, '通知等级', class: 'label-light'
        .radio
          = f.label :notification_level, value: Notification::N_DISABLED do
            = f.radio_button :notification_level, Notification::N_DISABLED
            .level-title
              关闭
            %p 将不会通过电子邮件收到任何通知

        .radio
          = f.label :notification_level, value: Notification::N_MENTION do
            = f.radio_button :notification_level, Notification::N_MENTION
            .level-title
              被提及
            %p 只收到评论中 @自己 的通知

        .radio
          = f.label :notification_level, value: Notification::N_PARTICIPATING do
            = f.radio_button :notification_level, Notification::N_PARTICIPATING
            .level-title
              参与
            %p 只收到有关的通知 (比如：来自自己的提交或指派给自己的问题)

        .radio
          = f.label :notification_level, value: Notification::N_WATCH do
            = f.radio_button :notification_level, Notification::N_WATCH
            .level-title
              关注
            %p 将收到参与项目的所有通知

      .prepend-top-default
        = f.submit '更新设置', class: "btn btn-create"
      %hr
      %h5
        群组 (#{@group_members.count})
      %div
        %ul.bordered-list
          - @group_members.each do |group_member|
            - notification = Notification.new(group_member)
            = render 'settings', type: 'group', membership: group_member, notification: notification
      %h5
        项目 (#{@project_members.count})
      %p.account-well
        给所属群组的项目指定通知等级，需要自己属于项目成员，而不仅仅是群组成员。
      .append-bottom-default
        %ul.bordered-list
          - @project_members.each do |project_member|
            - notification = Notification.new(project_member)
            = render 'settings', type: 'project', membership: project_member, notification: notification
