- note = discussion_notes.first
.discussion.js-toggle-container{ class: note.discussion_id }
  .discussion-header
    .discussion-actions
      = link_to "#", class: "js-toggle-button" do
        %i.fa.fa-chevron-up
        显示/隐藏讨论
    %div
      = link_to_member(@project, note.author, avatar: false)
      开始讨论在提交
      = link_to(note.noteable.short_id, namespace_project_commit_path(note.project.namespace, note.project, note.noteable), class: 'monospace')
    .last-update.hide.js-toggle-content
      - last_note = discussion_notes.last
      最后更新：
      = link_to_member(@project, last_note.author, avatar: false)
      %span.discussion-last-update
        #{time_ago_with_tooltip(last_note.updated_at, placement: 'bottom', html_class: 'discussion_updated_ago')}
  .discussion-body.js-toggle-content
    - if note.for_diff_line?
      = render "projects/notes/discussions/diff", discussion_notes: discussion_notes, note: note
    - else
      .panel.panel-default
        .notes{ data: { discussion_id: discussion_notes.first.discussion_id } }
          = render discussion_notes
        .discussion-reply-holder
          = link_to_reply_diff(discussion_notes.first)
