- note = discussion_notes.first
.discussion.js-toggle-container{ class: note.discussion_id }
  .discussion-header
    .discussion-actions
      = link_to "#", class: "js-toggle-button" do
        %i.fa.fa-chevron-down
        显示/隐藏讨论
    %div
      = link_to_member(@project, note.author, avatar: false)
      开始讨论在
      %strong 过期的差异
    %div
      - last_note = discussion_notes.last
      最后更新：
      = link_to_member(@project, last_note.author, avatar: false)
      %span.discussion-last-update
        #{time_ago_with_tooltip(last_note.updated_at, placement: 'bottom', html_class: 'discussion_updated_ago')}
  .discussion-body.js-toggle-content.hide
    = render "projects/notes/discussions/diff", discussion_notes: discussion_notes, note: note
