%li{id: dom_id(label)}
  = render "shared/label_row", label: label

  .pull-right
    %strong.append-right-20
      = link_to_label(label, type: :merge_request) do
        = pluralize label.open_merge_requests_count, '个未关闭合并请求', '个未关闭合并请求'

    %strong.append-right-20
      = link_to_label(label) do
        = pluralize label.open_issues_count(current_user), '个未关闭问题', '个未关闭问题'

    - if current_user
      .label-subscription{data: {url: toggle_subscription_namespace_project_label_path(@project.namespace, @project, label)}}
        .subscription-status{data: {status: label_subscription_status(label)}}
        %button.btn.btn-sm.btn-info.subscribe-button
          %span= label_subscription_toggle_button_text(label)

    - if can? current_user, :admin_label, @project
      = link_to '编辑', edit_namespace_project_label_path(@project.namespace, @project, label), class: 'btn btn-sm'
      = link_to '删除', namespace_project_label_path(@project.namespace, @project, label), class: 'btn btn-sm btn-remove remove-row', method: :delete, remote: true, data: {confirm: "确定要删除这个标记么？"}

- if current_user
  :javascript
    new Subscription('##{dom_id(label)} .label-subscription');
